
#app {
  height: 100%;
  font-weight: 400;
  .page-layout {
    min-height: 100vh;
    .ant-layout-content {
      padding: 40px 25px;
    }
  }

  .page-header {
    position: relative;
    z-index: 11;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
    transition: width .2s;
    background-color: #fff
  }
}

.card {
  min-height:calc(100% - 64px) 
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

.ant-select,
.ant-input,
.ant-input-number,
.input {
  width: 100%;
}